@font-face {
  font-family: 'poppins_b';
  src: url('./fonts/Poppins-Bold.ttf');
  unicode-range: U+26;
}

@font-face {
  font-family: 'poppins_m';
  src: url('./fonts/Poppins-Medium.ttf');
  unicode-range: U+26;
}

@font-face {
  font-family: 'poppins_r';
  src: url('./fonts/Poppins-Regular.ttf');
  unicode-range: U+26;
}

@font-face {
  font-family: 'poppins_l';
  src: url('./fonts/Poppins-Light.ttf');
  unicode-range: U+26;
}

@font-face {
  font-family: 'nanum';
  src: url('./fonts/NANUMBARUNGOTHIC.OTF');
}

@font-face {
  font-family: 'nanum_b';
  src: url('./fonts/NANUMBARUNGOTHICBOLD.OTF');
}

html,
body {
  font-family: 'poppins_4';
  text-decoration: none;
  margin: 0;
  background: #f8f8f8;
  height: 100%;
  font-family: 'nanum', sans-serif;
}

#root {
  height: 100%;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
  margin-left: 12%;
  padding: 2% 5%;
}

h2 {
  font-family: 'nanum_b';
  color: #298097;
}
